/* --------------------
	Navigation
-------------------- */
.main-header,
.nav {
  display: flex;
  flex-direction: column; }

.main-header {
  padding-top: 2em; }

.site-logo {
  align-self: center;
  position: relative; }

.site-logo img {
  width: 150px; }

.nav {
  margin-top: 1.5em; }

.nav a {
  text-decoration: none;
  display: block;
  color: #525D63;
  font-size: 1.25em;
  font-weight: 300;
  text-align: center;
  padding: .4em;
  border-bottom: 1px solid #ebecec; }

.nav a:hover {
  color: #0b0b0b;
  border-bottom-color: #52bab3; }

.nav li {
  list-style: none; }

/* --------------------
	Navigation Media Queries
-------------------- */
@media (min-width: 769px) {
  .main-header {
    height: 150px;
    justify-content: flex-end;
    padding-top: 10px;
    margin-bottom: 25px; }

  .site-logo img {
    width: 140px; }

  .nav {
    margin-top: 2em;
    flex-direction: row;
    justify-content: space-between; }

  .nav a {
    border-bottom-color: transparent; }

  .contactMe {
    background-color: #14C18F; }

  .contactMe a {
    color: #fff;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.4); } }
@media (min-width: 1025px) {
  .main-header {
    flex-direction: row;
    margin-bottom: 10px; }

  .site-logo {
    margin-right: auto; }

  .nav {
    margin-top: 0;
    align-self: center; }

  .nav li {
    margin-left: 3em;
    margin-right: 3em; } }
/* --------------------
	Hero Media Queries
-------------------- */
@media (min-width: 769px) {
  .hero {
    background-repeat: no-repeat;
    display: block;
    height: 600px;
    background-image: url("/img/hero-small.jpg");
    background-position: bottom center; } }
@media (min-width: 1025px) {
  .hero {
    background-image: url("/img/hero-large.jpg"); } }
/* --------------------
	Services
-------------------- */
.services {
  margin-bottom: 15px; }

.inner {
  clear: both;
  text-align: center;
  margin: auto;
  min-width: 240px;
  padding-left: 1em;
  padding-right: 1em; }

.boxes {
  justify-content: space-between;
  flex-wrap: wrap; }

.box {
  background: #fff;
  margin-top: 1.4em;
  padding: 1.4em; }

p.links a {
  border-bottom: 1px dotted #0f0cb3;
  color: #14C18F; }

/* --------------------
	Services Media Queries
-------------------- */
@media (min-width: 769px) {
  .boxes {
    display: flex; }

  .box {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

  p.links {
    justify-content: flex-end; } }
/* --------------------
	About Page
-------------------- */
.about {
  margin: auto;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.title {
  text-align: center;
  font-size: 3.8em;
  margin-bottom: 60px; }

.about h3 {
  font-size: 2em;
  text-align: center; }

.about p {
  line-height: 2;
  margin-bottom: 30px; }

.about img {
  width: 50%;
  margin: auto; }

/* --------------------
	Contact Page
-------------------- */
.contact p {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 35px; }

/* --------------------
	Projects Page
-------------------- */
.projects {
  font-size: 1.5em;
  text-align: center; }

/* --------------------
	Footer
-------------------- */
footer {
  background: #2c343a;
  color: #999;
  margin-top: 35px;
  padding: 15px 0;
  font-size: 12px;
  text-align: center;
  width: 100%; }

.footer ul li {
  padding: 10px 0; }

/* --------------------
	Footer media query
-------------------- */
@media (min-width: 769px) {
  .footer ul {
    display: flex;
    justify-content: space-around; } }
