html
	head
		title About | Ben Thorne Web Developer
		meta(name='viewport' content='width=device-width')
		link(rel='stylesheet' type='text/css' href='css/base.css')
		link(rel='stylesheet' type='text/css' href='css/style.css')

	body 
		div.container
			
			header.main-header
				a.site-logo(href='/')
					img(src='img/logo.png' alt='My Logo')

				ul.nav
					li 
						a(href='about.html') About
					li
						a(href='projects.html') Projects
					li.contactMe
						a(href='contact.html') Contact Me

		.container
			.about
				h1.title About

				img(src='img/myPhoto.png' alt='myPhoto')
					
				h3 Hello, my name is Ben...

				p I am a self taught front end developer based in the West Midlands.

				p I use the latest technologies to build websites which improve businesses accessibility and visibility to the public, I ensure websites are easy to navigate and visually appealing.

				p I have managed web projects and understand other aspects of managing a website including hosting, purchasing domain names, google analytics, SEO and setting up e-mail servers to name a few.

				p Learning new things and becoming more efficient in the way I work is fundamental to my values as a Web Developer, my mentality is that there is always something new to learn!
	
	footer
		div.footer
			ul
				li 2016. All rights reserved
				li contact@benthorne.co.uk