html
	head
		title Ben Thorne Web Developer
		meta(name='viewport' content='width=device-width')
		link(rel='stylesheet' type='text/css' href='css/base.css')
		link(rel='stylesheet' type='text/css' href='css/style.css')

	body
		div.container
			
			header.main-header
				a.site-logo(href='/')
					img(src='img/logo.png' alt='My Logo')

				ul.nav
					li 
						a(href='about.html') About
					li
						a(href='projects.html') Projects
					li.contactMe
						a(href='contact.html') Contact Me

			div.hero
				



	footer