html
	head
		title Ben Thorne Web Developer
		meta(name='viewport' content='width=device-width')
		link(rel='stylesheet' type='text/css' href='css/base.css')
		link(rel='stylesheet' type='text/css' href='css/style.css')

	body
		div.container
			
			header.main-header
				a.site-logo(href='/')
					img(src='img/logo.png' alt='My Logo')

				ul.nav
					li 
						a(href='about.html') About
					li
						a(href='projects.html') Projects
					li.contactMe
						a(href='contact.html') Contact Me

			div.hero
				
			div.services
				div.inner
					div.boxes
						div.box
							h2 <b>What I do</b>
							p I build functional websites which improve businesses accessibility and visibility to the public. I create functional, easy to use websites that work for your business and your customers.
							p.links
								a(href="about.html") About Me
						div.box
							h2 <b>The Result</b>
							p My websites are designed to look great on screens of all different sizes including mobiles, they are all optimised for search engines.
							p.links
								a(href="projects.html") View my Work
						div.box
							h2 <b>Contact Me</b>
							p Get in touch and we can discuss how I can improve your businesses presence on the web.
							p.links
								a(href="contact.html") Contact Me



	footer
		div.footer
			ul
				li 2016. All rights reserved
				li contact@benthorne.co.uk