html
	head
		title Contact | Ben Thorne Web Developer
		meta(name='viewport' content='width=device-width')
		link(rel='stylesheet' type='text/css' href='css/base.css')
		link(rel='stylesheet' type='text/css' href='css/style.css')

	body 
		div.container
			
			header.main-header
				a.site-logo(href='/')
					img(src='img/logo.png' alt='My Logo')

				ul.nav
					li 
						a(href='about.html') About
					li
						a(href='projects.html') Projects
					li.contactMe
						a(href='contact.html') Contact Me

		.container
			.projects 
				h1 Projects
			
				.boxes
					.box
						h2 Hair By Natalie
						p I designed this single page website using the wire framing program sketch. I plan to complete this project using flex-box within the coming months.
						a(href='img/hairByNatalie.png') 
							img(src='img/hairByNatalie.png' height=400 width=200)
					.box
						h2 Cobwebs Tea Rooms
						p This is a re-design and build of an existing website found at <a href=http://www.cobwebsevesham.co.uk> www.cobwebsevesham.co.uk </a>, the primary objective is to make the site responsive and make it more visually appealing. This site is being developed on <a href='https://github.com/beneatschicken/cobwebsProject'>GitHub</a> and is being built using bootstrap.

						p I noticed that the current site looks dated and does not adapt to different screen sizes, I plan on using quality images and directing customers to the company's Facebook page.

						p My current progress can be seen on my <a href='https://github.com/beneatschicken/cobwebsProject'>GitHub page</a>.
	
	footer
		div.footer
			ul
				li 2016. All rights reserved
				li contact@benthorne.co.uk