/* --------------------
	Navigation
-------------------- */

.main-header,
.nav {
	display: flex;
	flex-direction: column;
}

.main-header {
	padding-top: 2em;
}

.site-logo {
	align-self: center;
	position: relative;
}

.site-logo img {
	width: 100px;
}

.nav {
	margin-top: 1.5em;
}

.nav a {
	text-decoration: none;
	display: block;
	color: #797e83;
	font-size: 1.125em;
	font-weight: 300;
	text-align: center;
	padding: .4em;
	border-bottom: 1px solid #ebecec;
}

.nav a:hover {
	color: #0b0b0b;
	border-bottom-color: #52bab3;
}

.nav li {
	list-style: none;
}

/* --------------------
	Navigation Media Queries
-------------------- */

@media (min-width: 769px) {
	.main-header {
		height: 150px;
		justify-content: flex-end;
		padding-top: 10px;
		margin-bottom: 25px;
	}
	.site-logo img {
		width: 140px;
	}
	.nav {
		margin-top: 2em;
		flex-direction: row;
		justify-content: space-between;
	}
	.nav a {
		border-bottom-color: transparent;
	}
	.contactMe {
		background-color: #14C18F;
	}
	.contactMe a {
		color: #fff;
		box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.4);
	}
}

@media (min-width: 1025px) {
	.main-header {
		flex-direction: row;
		margin-bottom: 10px;
	}
	.site-logo {
		margin-right: auto;
	}
	.nav {
		margin-top: 0;
		align-self: center;
	}
	.nav li {
		margin-left: 3em;
		margin-right: 3em;
	}
}

/* --------------------
	Hero Media Queries
-------------------- */

@media (min-width: 769px) {
	.hero {
		background-repeat: no-repeat;
		display: block;
		height: 600px;
		background-image: url('/img/hero-small.jpg');
		background-position: bottom center;
	}

}

@media (min-width: 1025px) {
	.hero {
		background-image: url('/img/hero-large.jpg');
	}
}

/* --------------------
	Services
-------------------- */

.inner {
	clear: both;
	text-align: center;
	margin: auto;
	min-width: 240px;
	padding-left: 1em;
	padding-right: 1em;
}

.boxes {
	justify-content: space-between;
	flex-wrap: wrap;
}

.box {
	background: #f9f6f3;
	margin-top: 1.4em;
	padding: 1.4em;
}

/* --------------------
	Services Media Queries
-------------------- */

@media (min-width: 769px) {
	.boxes {
		display: flex;
	}
	.box {
		width: 32%;
	}
}
